<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>IMIS STUDIO</title>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/css/animate.min.css">
	<link rel="stylesheet" href="/static/css/et-line-font.css">
	<link rel="stylesheet" href="/static/css/nivo-lightbox.css">
	<link rel="stylesheet" href="/static/css/nivo_themes/default/default.css">
	<link rel="stylesheet" href="/static/css/style.css">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>
    <!--element ui-->
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
	<style>
		.img-responsive{
			display: block;
			max-width: 100%;
		}
	</style>
</head>
<body data-spy="scroll" data-target=".navbar-collapse" data-offset="50">
<div id="app">
<!-- preloader section -->
<div class="preloader">
	<div class="sk-spinner sk-spinner-circle">
       <div class="sk-circle1 sk-circle"></div>
       <div class="sk-circle2 sk-circle"></div>
       <div class="sk-circle3 sk-circle"></div>
       <div class="sk-circle4 sk-circle"></div>
       <div class="sk-circle5 sk-circle"></div>
       <div class="sk-circle6 sk-circle"></div>
       <div class="sk-circle7 sk-circle"></div>
       <div class="sk-circle8 sk-circle"></div>
       <div class="sk-circle9 sk-circle"></div>
       <div class="sk-circle10 sk-circle"></div>
       <div class="sk-circle11 sk-circle"></div>
       <div class="sk-circle12 sk-circle"></div>
    </div>
</div>

<!-- navigation section -->
<section class="navbar navbar-fixed-top custom-navbar" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
			</button>
			<a href="#" class="navbar-brand">IMIS STUDIO</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#home" class="smoothScroll">首页</a></li>
				<li><a href="#about" class="smoothScroll">工作室</a></li>
				<li><a href="#team" class="smoothScroll">团队</a></li>
				<li><a href="#project" class="smoothScroll">项目</a></li>
				<li><a href="#contact" class="smoothScroll">联系我们</a></li>
			</ul>
		</div>
	</div>
</section>

<!-- home section -->
<section id="home">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h3>WEB DESIGN / WEB DEVELOPMENT / SOCIAL MEDIA</h3>
				<h1>IMIS STUDIO</h1>
				<hr>
				<a href="#about" class="smoothScroll btn btn-danger">Who we are</a>
				<a href="#contact" class="smoothScroll btn btn-default">Talk to us</a>
			</div>
		</div>
	</div>		
</section>
<!-- about section -->
<section id="about">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 text-center">
				<div class="section-title">
					<strong>01</strong>
					<h1 class="heading bold">工作室简介</h1>
					<hr>
				</div>
			</div>
			<div class="col-md-6 col-sm-12">
				<img src="/static/images/about-img.jpg" class="img-responsive" alt="about img">
			</div>
			<div class="col-md-6 col-sm-12">
				<h3 class="bold">IMIS STUDIO</h3>
				<h1 class="heading bold">信管之光</h1>
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li class="active"><a href="#origin" aria-controls="origin" role="tab" data-toggle="tab">缘起</a></li>
					<li><a href="#growth" aria-controls="growth" role="tab" data-toggle="tab">发展</a></li>
					<li><a href="#future" aria-controls="future" role="tab" data-toggle="tab">未来</a></li>
				</ul>
				<!-- tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="origin">
						<p>我们老厉害了</p>
					</div>
					<div role="tabpanel" class="tab-pane" id="growth">
						<p>我们老厉害了</p>
					</div>
					<div role="tabpanel" class="tab-pane" id="future">
						<p>我们老厉害了</p>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>

<!-- team section -->
<section id="team">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="section-title">
					<strong>02</strong>
					<h1 class="heading bold">团队</h1>
					<hr>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay="0.9s" v-for="user in userList">
				<div class="team-wrapper">
					<img  :src="user.img"  alt="team img" height="262.5" width="262.5">
						<div class="team-des" >
							<h4>{{user.name}}</h4>
							<h3>{{user.grade}}</h3>
							<hr>
							<ul class="social-icon">
								<template v-if="user.mainStation">
									<li><a :href="user.mainStation" class="fa fa-home wow fadeIn" data-wow-delay="0.3s"></a></li>
								</template>
								<template v-if="user.gitHubAddress">
									<li><a :href="user.gitHubAddress" class="fa fa-github wow fadeIn" data-wow-delay="0.3s"></a></li>
								</template>
								<template v-if="user.resume">
									<li><a :href="user.resume" class="fa fa-file-pdf-o wow fadeIn" data-wow-delay="0.3s"></a></li>
								</template>
							</ul>
							<!--<a :href="user.email"  data-wow-delay="0.6s">详细介绍>></a>-->
						</div>
				</div>
			</div>
		</div>
	</div>
</section>
	<!-- team section -->
	<section
			id="project">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<div class="section-title">
						<strong>03</strong>
						<h1 class="heading bold">项目</h1>
						<hr>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay="0.9s" v-for="project in projectList">
					<div class="team-wrapper">
						<img  :src="project.img"  alt="team img" height="262.5" width="262.5">
						<div class="team-des" >
							<h4>{{project.name}}</h4>
							<el-row>
								<el-col>
									<h3>作者：{{project.contributor}}</h3>
								</el-col>
							</el-row>
							<h3>简介：{{project.info}}</h3>
							<hr>
							<el-row>
								<el-col>
									项目地址：<a :href="project.link" class="fa fa-github wow fadeIn" data-wow-delay="0.3s"></a>
								</el-col>
							</el-row>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<!-- portfolio section -->
<!--<section id="project">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 text-cente">
				<div class="section-title">
					<strong>03</strong>
					<h1 class="heading bold">OUR PROJECT</h1>
					<hr>
				</div>
				&lt;!&ndash; ISO section &ndash;&gt;
				<div class="iso-section">
					<ul class="filter-wrapper clearfix">
                   		 <li><a href="#" data-filter="*" class="selected opc-main-bg">All</a></li>
                   		 <li><a href="#" class="opc-main-bg" data-filter=".html">HTML</a></li>
                   		 <li><a href="#" class="opc-main-bg" data-filter=".photoshop">Photoshop</a></li>
                    	 <li><a href="#" class="opc-main-bg" data-filter=".wordpress">Wordpress</a></li>
                    	 <li><a href="#" class="opc-main-bg" data-filter=".mobile">Mobile</a></li>
               		</ul>
               		<div class="iso-box-section wow fadeIn" data-wow-delay="0.9s">
               			<div class="iso-box-wrapper col4-iso-box">

               				 <div class="iso-box html wordpress mobile col-lg-4 col-md-4 col-sm-6">
               				 	<a href="/static/images/portfolio-img1.jpg" data-lightbox-gallery="portfolio-gallery"><img src="images/portfolio-img1.jpg" alt="portfolio img"></a>
               				 </div>

               				 <div class="iso-box wordpress col-lg-4 col-md-4 col-sm-6">
               				 	<a href="/static/images/portfolio-img2.jpg" data-lightbox-gallery="portfolio-gallery"><img src="images/portfolio-img2.jpg" alt="portfolio img"></a>
               				 </div>

               				 <div class="iso-box html mobile col-lg-4 col-md-4 col-sm-6">
               				 	<a href="/static/images/portfolio-img3.jpg" data-lightbox-gallery="portfolio-gallery"><img src="images/portfolio-img3.jpg" alt="portfolio img"></a>
               				 </div>

               				 <div class="iso-box wordpress col-lg-4 col-md-4 col-sm-6">
               				 	<a href="/static/images/portfolio-img4.jpg" data-lightbox-gallery="portfolio-gallery"><img src="images/portfolio-img4.jpg" alt="portfolio img"></a>
               				 </div>

               				 <div class="iso-box html photoshop col-lg-4 col-md-4 col-sm-6">
               				 	<a href="/static/images/portfolio-img5.jpg" data-lightbox-gallery="portfolio-gallery"><img src="images/portfolio-img5.jpg" alt="portfolio img"></a>
               				 </div>

               				 <div class="iso-box photoshop col-lg-4 col-md-4 col-sm-6">
               				 	<a href="/static/images/portfolio-img6.jpg" data-lightbox-gallery="portfolio-gallery"><img src="images/portfolio-img6.jpg" alt="portfolio img"></a>
               				 </div>

               			</div>
               		</div>

				</div>
			</div>
		</div>
	</div>
</section>-->
<!-- contact section -->
<section id="contact">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 text-center">
				<div class="section-title">
					<strong>04</strong>
					<h1 class="heading bold">联系我们</h1>
					<hr>
				</div>
			</div>
			<div class="col-md-6 col-sm-12 contact-info">
				<h2 class="heading bold">CONTACT INFO</h2>
				<p>Talk is cheap,Show me the code</p>
				<div class="col-md-6 col-sm-4">
					<h3><i class="icon-envelope medium-icon wow bounceIn" data-wow-delay="0.6s"></i> EMAIL</h3>
					<p>imis-studio@imis.group</p>
				</div>
			</div>
			<div class="col-md-6 col-sm-12">
				<el-form ref="contactInfo" :model="contactInfo" :rules="contactInfoRules" class="wow fadeInUp" data-wow-delay="0.6s">

						<el-row :gutter="20">
							<el-col :span="11">

								<el-form-item prop="name">
									<el-input v-model="contactInfo.name"   placeholder="Name"></el-input>
								</el-form-item>

							</el-col>
							<el-col :span="11" >
								<el-form-item prop="eamilAddress"	>
									<el-input  v-model="contactInfo.eamilAddress"   placeholder="Email" ></el-input>
								</el-form-item>


							</el-col>
						</el-row>
					<el-form-item prop="message">
						<el-input type="textarea" v-model="contactInfo.message" :rows="6"  placeholder="Message" ></el-input>
					</el-form-item>
					<div class="col-md-offset-4 col-md-8 col-sm-offset-4 col-sm-8">
						<el-button  class="form-control" @click="sendMessage">SEND MESSAGE</el-button>
					</div>
				</el-form>
			</div>
		</div>
	</div>
</section>

<!-- footer section -->
<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<hr>
				<ul class="social-icon">
					<li><a href="#" class="fa fa-facebook wow fadeIn" data-wow-delay="0.3s"></a></li>
					<li><a href="#" class="fa fa-twitter wow fadeIn" data-wow-delay="0.6s"></a></li>
					<li><a href="#" class="fa fa-dribbble wow fadeIn" data-wow-delay="0.9s"></a></li>
					<li><a href="#" class="fa fa-behance wow fadeIn" data-wow-delay="0.9s"></a></li>
					<li><a href="#" class="fa fa-tumblr wow fadeIn" data-wow-delay="0.9s"></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
</div>

<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/smoothscroll.js"></script>
<script src="/static/js/isotope.js"></script>
<script src="/static/js/imagesloaded.min.js"></script>
<script src="/static/js/nivo-lightbox.min.js"></script>
<script src="/static/js/jquery.backstretch.min.js"></script>
<script src="/static/js/wow.min.js"></script>
<script src="/static/js/custom.js"></script>

<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
	var vue=new Vue({
		el: '#app',
		data() {
			return {
				userList:[{
					name:'',
					studentId:'',
					email:'',
					grade:'',
					mainStation:'',
					img:'',
					info:'',
					resume:'',
					gitHubAddress:''
				}],
                projectList:[{
                    name:'',
                    link:'',
                    info:'',
                    contributor:'',
                    img:'',
                }],
                contactInfo:{
				    name:'',
					message:'',
                    eamilAddress:''
				},
                contactInfoRules: {
                    name: [
                        { required: true, message: '请输入名称', trigger: 'blur' }
                    ],
                    eamilAddress: [
                        { required: true, message: '请输入邮箱', trigger: 'blur' },
                        { pattern: /^[a-zA-Z0-9_.-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*\.[a-zA-Z0-9]{2,6}$/, message: '邮箱格式不对'}
                    ],
                    message: [
                        { required: true, message: '请输入信息', trigger: 'blur' }
                    ],
                },
			};
		},
		methods: {
			loadData(){
			    this.initMembers();
			    this.initProjects();
			},
			initMembers:function () {
                axios.get("/api/imis/loadAllUsers")
                    .then(function (response) {
                        this.userList=response.data;
                    }.bind(this))
                    .catch(function (error) {
                        this.$message.error("获取成员信息失败")
                    }.bind(this))
            },
			initProjects:function () {
                axios.get("/api/imis/loadAllProjects")
                    .then(function (response) {
                        this.projectList=response.data;
                    }.bind(this))
                    .catch(function (error) {
                        this.$message.error("获取项目信息失败")
                    }.bind(this))
            },
			sendMessage:function () {
                this.$refs["contactInfo"].validate(function (valid) {
                    if(valid){
                        axios.post("/api/imis/sendMessage",this.contactInfo)
                            .then(function (response) {
                                this.$message.success("发送信息成功！")
                            }.bind(this))
                            .catch(function (error) {
                                this.$message.error("发送信息失败！")
                            }.bind(this))
					}
                }.bind(this));

				
            }
		}
	})
	vue.loadData();
</script>
</body>
</html>